<div id="about-view">
    <div class="jumbotron">
        <h1 class="display-4">About</h1>
        <p class="lead">Paint the town, and record it for the world to see.</p>
        <hr class="my-4">
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
</div>
