// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#about-view {
    background-image: url("https://images.unsplash.com/photo-1507306681221-aa9ccb9d1c18?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e6dc6ce5d64d871d6ab369803c5aafeb&auto=format&fit=crop&w=2850&q=80");
    height: 120em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-card {
    width: 100%;
    font-size: 180%;
    margin-top: 10em;
    border-radius: 1em;
}

.transbox {
    width: 40em;
    margin-top: 8em;
    background: rgba(33, 34, 34, 0.8);
    filter: alpha(opacity=60); /* For IE8 and earlier */
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}
    
.transbox p {
    margin: 5%;
    font-weight: bold;
    font-family: Verdana;
    font-size: 12px;
}
    