// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-flex {
    display: flex;
    flex-direction: row;
}

#avatar-modal {
    transition: .5s ease;
}

#avatar-modal:hover {
    opacity: 0.7;
}

#avatar-modal:hover .floater {
    opacity: 1;
}

.avatar-container {
    position: relative;
}

.floater {
    position: absolute;
    transition: .5s ease;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    font-size: 400%;
}